/*
http://commons.oreilly.com/wiki/index.php/SVG_Essentials/Clipping_and_Masking
http://www.techrepublic.com/blog/web-designer/how-to-use-the-css-clip-and-mask-properties/
http://codepen.io/SahAssar/pen/YPWxWX
*/

@media only screen and (max-device-width: 480px) {
    #header video{
        visibility: hidden;
    }
    #header #overlay {
        background-color: #000;
    }
}

body {
    margin: 0;
}

video {
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:auto;
}

#overlay {
    position:absolute;
    left:0px;
    width:100%;
    height:auto;
    z-index:49;
    border-bottom: 1px solid #fff;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 1.75em;
    padding-left: 6.82%;
    padding-right: 15.91%;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #000;
    text-align: right;
    font-size: 1.5em;
    padding-left: 6.82%;
    padding-right: 15.91%;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 1.25em;
    padding-left: 6.82%;
    padding-right: 15.91%;
}

p {
    font-family: "Open Sans", sans-serif;    
	color:#000;
    padding-left: 6.82%;
    padding-right: 15.91%;
    padding-bottom: 1.705%;
    font-size: 1em;
}

.thumb {
    padding-top: -1.705%;
    padding-bottom: 1.705%;
    float:left;
    width: 100%;
    padding-left: 6.82%;
    padding-right: 15.91%;
    height:auto;
    list-style:none;
    text-style: bold;
    white-space: nowrap;
    background-color: white;
}

.thumb img {
    margin-right: 3.41%;
}
    
/* unvisited and visited links */
a:link,
a:visited {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #e0150f;
}

/* mouse over and selected links */
a:hover,
a:active {
    text-style: bold;
    font-family: "Open Sans", sans-serif;
    color: #bbb;
}