h1 {
    font-family: "Gentium Book Basic", serif;
    color: #000000;
    font-size: 2.75vw;
    padding-left: 6.82%;
    padding-right: 15.91%;    
    margin-top: -44px;
}

h2 {
    font-family: "Gentium Book Basic", serif;
    color: #000000;
    font-size: 2.5vw;
    padding-left: 6.82%;
    padding-right: 15.91%;
}

h3 {
    font-family: "Gentium Book Basic", serif;
    color: #000000;
    font-size: 2.25vw;
    padding-left: 6.82%;
    padding-right: 15.91%;
    font-style: italic;
}

p {
	color:#000;
    padding-left: 6.82%;
    padding-right: 15.91%;
    font-family: "Gentium Book Basic", serif;
    padding-bottom: 1.705%;
    font-size: 2vw;
}

p img {
    float:left;
    width: 10%;
    padding-right: 3.41%;
    padding-top: 1.705%;
    padding-bottom: 1.705%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

#masthead img {
    width:100%;
    height:auto;
}

/*https://www.emailonacid.com/blog/article/email-development/a_slick_new_image_swapping_technique_for_responsive_emails
@media only screen and (max-device-width: 480px) {
span#swap {
    display: block;
    background-color: white;
    background: url("../assets/mLe_GIFnoLoop480.gif") center 0 no-repeat;
    width: 100%;  
    height: 100%;
    }
#masthead {
    display: none;
}
}
*/

    
/* http://stackoverflow.com/questions/21610677/how-evenly-space-divs-each-of-a-different-width-within-a-parent-div */
.navList {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 6.82%;
    padding-right: 15.91%;
/*    margin-bottom: 3.41%;*/
    height:auto;
    list-style:none;
    font-size: 3.25vw;
    text-style: bold;
    white-space: nowrap;
    background-color: white;
}

.navList a:hover {
    color: #e0150f;
    list-style: none;
    text-decoration: none;
}


/*divs for sticky nav bar*/
nav {
    width: 100%;
    height: auto;
    z-index:500;
}

/* unvisited and visited links */
nav a:link,
nav a:visited {
    text-decoration: none;
    font-family: "Gentium Book Basic", serif;
    color: #000;
}

/* mouse over and selected links */
nav a:hover,
nav a:active {
    text-style: bold;
    font-family: "Gentium Book Basic", serif;
    color: #e0150f;
}

.nav-placeholder {
    margin: 0;
    border: 1px solid #fff;
    padding-bottom: 3.41%;
}

/*classes for sticky nav bar*/
.fixed {
    position:fixed;
    top:0;
    margin-top:0px;
    left:0;
    width:100%;

}

.fixed .navList {
    margin-top:0px;
    margin-bottom:0px;
    -webkit-box-shadow: 0 2px 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.1);
}

.fixed .nav-inner {
    margin: 0;
}

/*for resizing thumbnails on Portfolio page*/
#thumbsContainer {
    margin-left: 6.82%;
    margin-right: 15.91%;
}

/*http://www.paulund.co.uk/css-flexbox*/
#alignRow1,
#alignRow2,
#alignRow3 {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    flex-shrink: 1;
    margin-bottom: 1.705%;
    max-height: 200px;
}

.minMargin {
    max-width: 3.41%;
    min-width: 1.705%;
}

@media only screen and (max-device-width: 480px) {
    .visible img {
        float: left;
        max-width: 25px;
        height: auto;
        padding: 1.705%;
    }
}

/*classes for portfolio thumbnail image resizing*/
.visible img {
    width: 100%;
    min-width: 50px;
    max-width: 200px;
    margin: auto;
}

/* unvisited and visited links */
a:link,
a:visited {
    text-decoration: none;
    font-family: "Gentium Book Basic", serif;
    color: #e0150f;
}

/* mouse over and selected links */
a:hover,
a:active {
    text-style: bold;
    font-family: "Gentium Book Basic", serif;
    color: #bbb;
}